.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


.columns-external-links .button-container p {
  margin: 0;
}

.columns-external-links .button-container a {
  width: 100%;
  text-align: left;
  border-radius: 0;
  background: #fff;
  color: #000;
  border: 1px solid var(--grey200);
  position: relative;
  display: inline-block;
  margin: 0;
  font-weight: bold;
}

.columns-external-links .button-container a::after {
  content: '';
  vertical-align: middle;
  margin: -7px 0 0 -3px;
  position: absolute;
  top: 50%;
  right: 1.5em;
  border-left: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(-135deg);
  width: 13px;
  height: 13px;
  text-align: right;
  display: inline-block;
}

.columns-external-links .button-container a:hover {
  background: #000;
  color: #fff;

}