footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1600px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer .links-section {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  margin: 10px auto;
}

footer .links-section .default-content-wrapper p {
  display: flex;
  gap: 10px;
  font-size: 1.125rem;
  line-height: 1.2em;
  margin-bottom: 20px;
}

footer .copyright-info > div {
  display: flex;
  align-items: center;
  gap: 40px;
}